* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}

header h1,
footer {
	background-color: green;
	padding: 30px;
}

header,
footer {
	color: white;
}

section {
	margin: 5px;
	padding: 20px;
	background-color: lightblue;
}

section p {
	line-height: 1.5em;
}

section h2 {
	margin: 10px 0px 20px 0px;
}

article {
	margin: 10px;
	padding: 10px;
	background-color: white;
}

article h3 {
	margin: 15px 0px;
}

article p:nth-last-child(1) {
	margin-top: 30px;
	margin-bottom: 10px;
}

article p {
	margin-bottom: 25px;
}

header nav {
	padding: 10px;
}

nav ul {
	padding: 0;
	background-color: white;
	margin-left: 10px;
}

nav ul li {
	display: inline;
	margin: 5px;
	margin-right: 20px;
}

footer p {
	text-align: center;
}