/* Estilos gerais para o corpo da página */
body {
    font-family: arial;
    /* Define a fonte principal */
    box-sizing: border-box;
    /* Garante que a largura total inclua padding e bordas */
    margin: 0px;
    /* Remove margens padrão do corpo */
    display: flex;
    /* Define o layout do corpo como flexível para centralizar o contêiner */
    flex-direction: column;
    /* Define a direção dos elementos flexíveis como coluna */
}

/* Estilos para o cabeçalho */
header {
    text-align: right;
    /* Alinha o texto à direita dentro do cabeçalho */
}

header h1,
header h2 {
    padding: 15px;
    /* Adiciona padding interno aos elementos h1 e h2 no cabeçalho */
    margin: 0px;
    /* Remove margens padrão dos elementos h1 e h2 no cabeçalho */
}

/* Estilos específicos para h1 dentro do cabeçalho */
header h1 {
    color: white;
    /* Cor do texto */
    font-size: 35px;
    /* Tamanho da fonte */
    background-color: black;
    /* Cor de fundo */
}

/* Estilos específicos para h2 dentro do cabeçalho */
header h2 {
    color: white;
    /* Cor do texto */
    font-size: 20px;
    /* Tamanho da fonte */
    background-color: gray;
    /* Cor de fundo */
}

/* Estilos para h2 dentro do conteúdo principal */
main h2 {
    color: black;
    /* Cor do texto */
    transition: all 0.5s;
    /* Transição suave de todas as propriedades */
}

/* Efeito de hover para h2 no conteúdo principal */
main h2:hover {
    letter-spacing: 5px;
    /* Espaçamento entre letras ao passar o mouse */
}

/* Estilos para links */
a:link,
a:visited {
    color: blue;
    /* Cor dos links não visitados e visitados */
}

/* Estilos para a navegação */
nav ul {
    padding: 0px;
    /* Remove o padding padrão da lista não ordenada dentro da navegação */
}

nav ul li {
    list-style: none;
    /* Remove os marcadores de lista */
    padding: 10px;
    /* Adiciona padding aos itens da lista */
    text-align: center;
    /* Centraliza o texto */
}

/* Estilos específicos para a navegação dentro do cabeçalho */
header nav ul {
    margin: 0px;
    /* Remove margens padrão da lista não ordenada dentro da navegação */
    display: flex;
    /* Usa flexbox para layout */
    justify-content: center;
    /* Centraliza os itens horizontalmente */
    background-color: rgb(123, 123, 250);
    /* Cor de fundo */
}

header nav ul li {
    display: inline-block;
    /* Exibe os itens da lista como blocos inline */
}

header nav ul li a:link,
header nav ul li a:visited {
    color: white;
    /* Cor do texto dos links */
    padding: 0px 30px;
    /* Espaçamento interno dos links */
    font-weight: normal;
    /* Peso da fonte normal */
}

/* Efeito de hover para links na navegação dentro do cabeçalho */
header nav ul li a:hover {
    text-decoration: underline;
    /* Sublinha os links ao passar o mouse */
}

/* Estilos para o rodapé */
footer {
    background-color: #808080;
    /* Cor de fundo do rodapé */
    text-align: center;
    /* Alinha o texto ao centro */
    padding: 20px;
    /* Padding interno do rodapé */
    position: relative;
    /* Garante que o rodapé seja o pai com position relative */
    z-index: 0;
    /* Garante que o rodapé esteja abaixo da div direita */
}

footer p {
    color: white;
    /* Cor do texto */
}

/* Estilos para links no rodapé */
footer a:link,
footer a:visited {
    color: lightblue !important;
    /* Cor dos links no rodapé */
}

/* Estilos para imagens */
img {
    display: block;
    /* Exibe as imagens como blocos */
    margin: auto;
    /* Centraliza as imagens */
    margin-top: 40px;
    /* Margem superior */
    margin-bottom: 40px;
    /* Margem inferior */
    width: 500px;
    /* Tamanho da imagem */
}

/* Estilos para listas dentro do conteúdo principal */
main ul li {
    line-height: 1.5em;
    /* Altura da linha */
}

/* Estilos para parágrafos dentro do conteúdo principal */
main p {
    line-height: 1.5em;
    /* Altura da linha */
    text-align: justify;
    /* Justifica o texto */
}

/* Estilos para o contêiner principal */
.container {
    display: flex;
    /* Define layout flexível para o contêiner */
}

/* Estilos para as colunas esquerda e direita */
.esquerda,
.direita {
    width: 200px;
    /* Define largura fixa */
    background-color: black;
    /* Cor de fundo */
    color: white;
    /* Cor do texto */
    padding: 10px;
    /* Padding interno */
}

/* Estilos para a coluna do meio */
.meio {
    width: 1200px;
    /* Define largura fixa */
    background-color: white;
    /* Cor de fundo */
    height: auto;
    /* Altura automática */
    margin: 35px;
    /* Margem ao redor */
}

/* Estilos para texto destacado */
.destacado {
    font-weight: bold;
    /* Texto em negrito */
    padding: 2px;
    /* Padding interno */
}

/* Estilos para texto sublinhado */
.sublinhado {
    text-decoration: underline;
    /* Texto sublinhado */
}

/* Estilos para texto em itálico */
.italico {
    font-style: italic;
    /* Texto em itálico */
}

/* Estilos para texto riscado */
.riscado {
    text-decoration: line-through;
    /* Texto riscado */
}

/* Estilos para texto com classe textok */
.textok {
    color: white;
    /* Cor do texto */
    font-size: 20px;
    /* Tamanho da fonte */
}

/* Remove o sublinhado dos links */
a {
    text-decoration: none;
    /* Remove sublinhado */
}

/* Adiciona sublinhado ao passar o mouse */
a:hover {
    text-decoration: underline;
    /* Adiciona sublinhado */
}
