.minha-classe {
    background-color: yellow;
    color: red;
}


.caixa {
    border-style: solid;
    border-style: dashed;
    border-color: blue;
    text-align: center;
    color: red;
    border-width: 3px 3ed;
    width: 50%;
    margin: 0 auto;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 6px;
}
/* Estilo para o Título */
.nh1 {
    font-size: 25px;
    font-weight: bold;
    font-family: verdana;
    letter-spacing: 4px;
    border-bottom: 2px solid red;
    background-color: yellow;
    color: darkgreen;
}

/* Estilo para o parágrafo */
.np {
    background-color: lightgrey;
    font-size: 18px;
    color: green;
    line-height: 2; /* Espaçamento entre linhas: duplo */
    font-style: italic;
    font-family: tahoma;
    text-align: center;
    padding: 20px;
    margin: 0 50px;
}
.tc {
    text-align: center;
}

.meu-div {
    background-color: #CAF3FF;
    border-left: 10px solid #FF3300;
    border-right: 10px solid #FF3300;
    padding: 20px;
    margin: 0 50px;
    /* 0 para o topo e a base, 50px para a direita e esquerda */
}


.titulo-h {
    font-size: 30px;
    border-bottom: 1px solid #FF3300;
    color: black;
}

/* Estilos para a tag <p> */
.pa {
    line-height: 2;
    font-size: 14px;
    color: black;
}

:root {
    --cor-fundo: rgb(34, 41, 37);
    --cor-hover: rgb(118, 180, 145);
    --cor-primaria: rgb(231, 241, 236);
}

.dp-menu ul {
    list-style-type: none;
    padding: 0;
}

.dp-menu ul {
    background-color: var(--cor-fundo);
}

.dp-menu ul li {
    display: inline;
    position: relative;
}

.dp-menu ul li a {
    color: var(--cor-primaria);
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: background .3s;
}

.dp-menu ul li a:hover {
    background-color: var(--cor-hover);
}

/*sub menu*/
.dp-menu ul ul {
    display: none;
    left: 0;
    position: absolute;
}

.dp-menu ul li:hover ul {
    display: block;
}

.dp-menu ul ul {
    width: 150px
}

.dp-menu ul ul li a {
    display: block;
}
